* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  height: 30rem;
  background: rgb(235, 235, 235);
  border-radius: 0.5rem;
  box-shadow: 14px 14px 38px rgba(0, 0, 0, 0.08);
  position: relative;
}
.joinChatTitle {
  background: rgb(84, 19, 84);
  color: white;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  text-align: center;
}
.joinChatTitle p {
  padding: 10px;
}
.joinChatContainer h3 {
  font-size: 1rem;
  font-weight: 400;
  padding: 15px;
}
.joinChatInput {
  display: flex;
  position: absolute;
  bottom: 10px;
  padding: 2px;
  left: 20px;
}

.joinChatInput input {
  padding: 1rem;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border: 1px solid gray;
}

.joinChatInput button {
  padding: 1rem;
  background: rgb(84, 19, 84);
  color: white;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: none;
  background: rgb(235, 235, 235);
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 30px;
  max-width: 120px;
  background-color: #a797cf;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: rgb(220, 175, 222);
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  border: none;
  border-top: none;
  display: flex;
  padding: 20px;
  background: rgb(235, 235, 235);
}

.chat-window .chat-footer input {
  padding: 1rem;
  width: 80%;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border: 1px solid gray;
}

.chat-window .chat-footer button {
  padding: 1rem;
  background: rgb(84, 19, 84);
  color: white;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.hide {
  opacity: 0 !important;
}
